@using Microsoft.AspNetCore.Http

@model UpdateProductViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>ProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cover" class="control-label"></label>
                <input asp-for="Cover" type="file" class="form-control"
                     data-rule-extension="@FileSettings.AllowedExtensions.Replace(".", string.Empty)"
                     data-msg-extension="Not allowed extension"
                       data-rule-filesize="@FileSettings.MaxFileSizeInBytes"
                       data-msg-filesize="Maximum allowed size is @FileSettings.MaxFileSizeInMb MB">
                <small class="form-text text-muted">Only @FileSettings.AllowedExtensions files are allowed with max size @(FileSettings.MaxFileSizeInMb)MB.</small>
                <span asp-validation-for="Cover" class="text-danger d-block"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>

            <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
                <img class="cover-preview" alt="Cover" src="@($"{FileSettings.ImagePath}/{Model.CurrentCover}")" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filesize-validator.js" asp-append-version="true"></script>
    <script src="~/js/game-form.js" asp-append-version="true"></script>

    <script>
        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || element.files[0].size <= param;
        });

        $(document).ready(function () {
            $('#Cover').on('change', function () {
                $('.cover-preview').attr('src', window.URL.createObjectURL(this.files[0])).removeClass('d-none');
            });
        });
    </script>
}
